#comment-form {
  display: flex;
  overflow-y: scroll;
  input {
    padding: 14px 20px;
    margin: 5;
    font-size: 0, 2rem;
    border-radius: 20px;

    &:focus {
      box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
    }
  }
}

#comment {
  margin-left: 5px;
  width: 45%;
}
#comment-title {
  margin-left: 2px;
  width: auto;
  font-style: oblique;
}
.comment_style {
  font-size: 13px;
  overflow-y: scroll;
}
.comment-bubble {
  background-color: whitesmoke;
  border-style: hidden;
  border-radius: 10px;
  margin-right: 10px;
  padding-left: 10px;
}
.comment-author {
  font-style: italic;
}
.date-style {
  font-style: italic;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
