.form-profil {
  display: flex;
  justify-content: center;
  height: 65%;
  width: 60%;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}
.log-container {
  display: flex;
  justify-content: center;
  height: 45%;
  width: 60%;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: #fff;
  margin: 0 auto;
}
