body {
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
  background: #0f3a4c;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

p {
  margin-top: 2px;
  margin-left: 20px;
}
input {
  margin: 5px;
}
