.header-home {
  font-size: 30px;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  .welcomePage {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-size: 25px;
  }
  .logo-home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 50px;
      cursor: pointer;
    }
  }
}
.containerPost {
  display: flex;
  justify-content: center;
}
.post {
  background: white;
  border: solid 1px black;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  height: 200px;
  margin: 10px;
}

#message {
  border: none;
  height: 62px;
  width: 100%;
}

#image-file {
  border: none;
  height: 62px;
  width: 100%;
}
