.log-container {
  display: flex;
  justify-content: center;
  height: 45%;
  width: 60%;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: salmon;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
}
.homeword {
  display: flex;
  justify-content: center;
}
img {
  height: 280px;
}
.connection-form {
  //width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  border-color: #ffa07a;

  ul {
    list-style-type: none;
    margin: 10;
    display: flex;
    justify-content: center;
    padding: 10px;
    li {
      cursor: pointer;
      margin: 10px;
    }
  }
}
