.header-home {
  font-size: 30px;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  .welcomePage {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-size: 25px;
  }
  .logo-home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 50px;
      cursor: pointer;
    }
  }
  .logo-global {
    display: flex;

    align-items: center;
    img {
      cursor: pointer;
      width: auto;
    }
  }
}
.header-home {
  font-size: 30px;
  height: 90px;
  background: salmon;
  display: flex;
  justify-content: space-between;
  .welcomePage {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-size: 25px;
  }
  .logo-profil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }
}
#image-log {
  margin-top: 18px;
  height: 55%;
  width: 50px;
  cursor: pointer;
}
