.header-home {
  font-size: 30px;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  .welcomePage {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-size: 25px;
  }
  .logo-home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 50px;
      cursor: pointer;
    }
  }
}
